*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background: url(./img/background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.profil-img{
    width: 250px;
    height: 450px;
    background-color: rgba(25, 35, 62, 0.3);     
    margin-top: 5rem;
    border-radius: 1rem;
}

.profil-img img{
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 20px;

}

.detail{
    width: 700px;
    height: 450px;
    background-color: rgba(25, 35, 62, 0.3);
    margin-top: 5rem;
    border-radius: 1rem;
}